* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.container {
    padding-top: 20px;
}

.nav-tabs {
    margin-bottom: 0; /* Loại bỏ khoảng cách giữa các tab và nội dung */
}

.tab-content {
    margin-top: 10px; /* Khoảng cách nhỏ giữa tab và nội dung */
}

canvas {
    width: 100%;
    max-width: 800px;
    height: 400px;
    margin: 0 auto;
    display: block;
}

.prediction {
    margin-top: 20px;
}
#loading {
    font-size: 18px;
    font-weight: bold;
    color: #007bff;
    margin-top: 10px;
}

.d-none {
    display: none;
}
